#ignore __vm, Debug directories
__vm/
Debug/
.vs/
*.pro.user
#mc_programs/mb_gw_os/__vm/Configuration.Release.vmps.xml
#mc_programs/mb_gw_os/__vm/Configuration.Debug.vmps.xml
#mc_programs/mb_gw_os/__vm/Upload.vmps.xml
#mc_programs/mb_gw_os/__vm/Compile.vmps.xml
#mc_programs/flash_eeprom/__vm/Upload.vmps.xml
#mc_programs/flash_eeprom/__vm/Compile.vmps.xml
#mc_programs/flash_eeprom/__vm/Configuration.Debug.vmps.xml
#mc_programs/flash_eeprom/__vm/Configuration.Release.vmps.xml

