/*HTTP/1.1 200 OK
Content-Type: text/css
Connection: close
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #01256e;
}

/* blue: #01256e
red: #95001a
grey: #f1f1f1 */

body {
	font-family: Helvetica, "Times New Roman", Times, serif;
	color: white; 
}

a:link {
    color: white;
}
a:visited {
	color: red; 
}
  
#main-wrapper {
  box-sizing: border-box;
  min-height: 100%;
  padding: 0px 0 120px 0;
  position: absolute;
  top: 0;
  width: 100%;
}

footer {
  bottom: 0;
  height: 120px;
  left: 0;
  position: absolute;
  width: 100%;
  border-top: 4px solid #95001a;
  background-color: #01256e;
}

.hdr {
	font-size: 2em;
	font-weight: bold;
	padding-right: .5em;
}
/* nav {
    background-color: #a90523;
} */
article {
	margin-top: 35px;
	padding: 1em;
    background-color: #01256e;
}


.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 50px;
  border-bottom: 4px solid #95001a;
}

.navbar li {
  float: left;
  text-align: center;
  background: white;
}

.navbar a{
	display: inline-block;
	text-decoration: none; 
	padding: 0 10px 0 10px;
}

#imglink {
	float: right;
	line-height: 0;
	padding:4px 4px 0 0;
	margin:0;
}

.navbar a:link, .navbar a:visited{
	font-weight: bold;
	color: #01256e;
}
  
.navbar a#live {
	background-color: #95001a;
	color: white;
}
 .navbar a:hover:not(#live):not(#imglink), .navbar a:active :not(#live) {
	background-color: #01256e;
	color: white;
}

@media screen and (max-width: 875px) {
	#imglink {
		display: none;
	}
}

@media screen and (max-width: 725px) {
	.navbar {
		line-height: 1.5em;
		position: relative;
	}
	.navbar .dropdown, .navbar li {
		float: none;
		
	}
	.navbar a{
		width: 100%;
	}
	article {
		margin-top: 0px;
	}
}

address {
	font-family: Georgia, Helvetica;
  padding: 1em 1em 0 1em;
  text-align: center;
}